<% provide(:title, "About") %>
<div class="explanation_wrap center">
  <h2 class="main_title">What is ANIMAL CAFE?</h2>
  <p>animal cafeは動物カフェを共有できるサービスです。</p>
  <p>動物カフェを探すのに、まとめサイトが欲しいという声からanimal cafeを作成しました。</p>
  <p>自分が行ったお店を投稿することで、動物カフェを手軽に共有することができます。</p>
  <p>また近くの動物カフェを検索して見つけることができます。</p>
  <p>自分が行った動物カフェを共有したい</p>
  <p>今度の休日、動物に癒されにカフェに行きたい時などに</p>
  <p>animal cafeをぜひご利用ください！</p>
  <h3 class="fas fa-angle-double-down"></h3>
  <div>
    <%= link_to icon("fas", "paw", "新規登録する"), signup_path, class: "btn btn-primary" %>
  </div>
</div>
