<div class="top_main">
  <div class="home_search_area">
    <p>動物カフェを検索できます</p>
    <%= form_with(url: shops_path, method: :get, scope: :search, local: true, class: "search_form") do |f| %>
      <%= f.text_field :address, class: "form-control", id: "home_search_address", placeholder: "エリアで検索" %>
      <%= f.submit "カフェを探す", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
<% unless logged_in? %>
  <%= link_to "What is an animal cafe?", about_path %>
<% end %>
