<% provide(:title, "Edit shop") %>
<% provide(:button_text, "Save changes") %>
<h1>Update shop</h1>
<div class="post_shop_frame">
  <%= render partial: "shops/form", locals: { shop: @shop } %>
</div>
