@import "bootstrap-sprockets";
@import "bootstrap";

@import "font-awesome-sprockets";
@import "font-awesome";

@import "slick-carousel/slick/slick.scss";
@import "slick-carousel/slick/slick-theme.scss";

/* mixins */
@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

@mixin form_frame {
  max-width: 600px;
  margin: 0 auto;
  padding: 25px;
  box-shadow: 0 0 3px #777;
  background: #f7f7f7;
  border-radius: 5px;
}

/* universal(共通) */
body {
  position: relative;
  padding-top: 100px;
  padding-bottom: 100px;
  background: #f5f5f5; // 薄い灰色
  min-height: 100vh; // bodyの縦幅が最低でも1画面ぶんはあるようにする
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography(書式) */
h1, h2, h3, h4, h5, h6 {
  line-height: 1; // 文字の高さが行の高さになる
}

h1 {
  font-size: 3em; // 親要素に対しての倍率を指定、この場合300%となる 
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777; // 灰色
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

li {
  list-style: none;
}

a {
  color: #000;
  &:hover {
    text-decoration: none;
  }
}

#error_explanation li{
  list-style-type: disc;
}

/* header */
@media screen and (max-width: 800px) {
  header {
    .search_form {
      display: none !important;
    }
  }
}

header {
  background: #fff;
  .search_form {
    display: flex;
    margin-top: 10px;
    margin-left: 10px;
    height: 40px;
    input {
      height: 30px !important;
      width: 200px;
    }
    .btn {
      color: #fff;
      width: auto;
      height: 30px !important;
      background: #777;
      text-align: center;
      padding: 5px 12px 6px;
    }
  }
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #222;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: lighter;
}

/* hamburger mune */
@media screen and (max-width: 800px) {
  .header-nav {
    display: none;
  }
}

@media screen and (min-width: 800px) {
  .l-drawer {
    display: none;
  }
}

.l-drawer {
  position: relative;
  &_checkbox {
    display: none;
  }
  &_icon {
    cursor: pointer;
    display: block;
    width: 56px;
    height: 50px;
    position: fixed;
    right: 0;
    &-parts,
    &-parts:before,
    &-parts:after {
      background: #000;
      display: block;
      width: 26px;
      height: 2px;
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      margin: auto;
    }
    &-parts:before,
    &-parts:after {
      content: " ";
    }
    &-parts:before {
      top: 16px;
    }
    &-parts:after {
      top: -16px;
    }
  }
  &_overlay {
    background: #000;
    opacity: 0;
    pointer-events: none; 
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
  }
  &_menu {
    background: #fff;
    color: #000;
    max-width: 100%;
    height: 100vh;
    width: 320px;
    position: fixed;
    top: 0;
    right: -320px;
    overflow-y: auto; 
  }
  &_icon {
    z-index: 4;
  }
  &_menu {
    z-index: 3;
  }
  &_overlay {
    z-index: 2;
  }
  &_checkbox:checked ~ {
    .l-drawer_icon {
      .l-drawer_icon-parts {
        background: transparent;
      }
      .l-drawer_icon-parts:before {
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
        top: 0;
      }
      .l-drawer_icon-parts:after {
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        top: 0;
      }
    }
    .l-drawer_overlay {
      opacity: 0.3;
      pointer-events: auto;
    }
    .l-drawer_menu {
      right: 0;
    }
  }
   &_icon-parts,
   &_icon-parts:after,
   &_icon-parts:before,
   &_overlay,
   &_menu {
     -webkit-transition: all 0.7s ;
     transition: all 0.7s ;
  }
  li {
    font-size: 1.5em;
    margin-bottom: 1em;
  }
  li:first-child {
    margin-top: 1em;
  }
  a {
    font-weight: lighter;
  }  
}

/* footer */
footer {
  position: absolute;
  bottom: 0;
  width: 100vw;
  color: #222;
  background: #fff;
  padding-top: 5px;
  p {
    font-weight: lighter;
    text-align: center;
    font-size: 1.1em;
    line-height: 1.7em;
  }
}

/* forms */
input {
  @include box_sizing;
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
}

input {
  height: auto !important;
}

.form-control {
  margin-bottom: 25px;
}

#error_explanation {
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  input {
    border: 1px solid red; 
  }
  .form-control {
    color: red;
  }
}

.checkbox {
  margin-top: 10px;
  margin-bottom: 20px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

.top_main {
  width: 100%;
  height: 80vh;
  background-image: image-url("top_cafe.jpg");
  background-size: cover;
  position: relative;
  &::before {
    background: #000;
    opacity: 0.3;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: "";
  }
  .home_search_area {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    max-width: 330px;
    max-height: 200px;
    padding: 25px;
    text-align: center;
    p {
      font-size: 20px;
      font-weight: bold;
      color: #fff;
    }
    .explanation_link_wrap {
      padding: 10px;
      .explanation_link {
        color: #fff;
        font-size: 18px;
        &:hover {
          font-size: 24px;
          -webkit-transition: all 0.4s ;
          transition: all 0.4s ;
        }
      }
    }
  }
}

/* user page */
/* signup page */
.signup_frame {
  @include form_frame;
}

/* login page */
.login_frame {
  @include form_frame;
  a {
    font-size: 12px;
    color: #0066cb;
  }
  p {
    padding-top: 10px;
    a {
      font-size: 14px;
      color: #0066cb;
      &:hover {
        opacity: 0.3;
      }
    }
  }
}

/* profile page */
aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

div.user_frame {
  margin: 0 auto;
  padding-bottom: 20px;
}

img.user_avater {
  float: left;
  border-radius: 50%;
  margin-right: 10px;
  margin-top: 15px;
}

img.poster_avater_link {
  border-radius: 50%;
}

img.default_avater {
  float: left;
  border-radius: 50%;
  margin-right: 10px;
  margin-top: 15px;
  width: 100px;
  height: 100px;
}

img.default_avater_link {
  border-radius: 50%;
  width: 20px;
  height: 20px;
  margin-bottom: 5px;
}

/* profile page scroll nav */
.scroll-nav-wrap {
  position: relative;
  padding: 10px 0;
  margin-bottom: 30px;
  border-bottom: 1px solid #777;
  .scroll-nav {
    width: 100%;
    overflow-x: auto;
    ul {
      height: 40px;
      line-height: 40px;
      margin: 0 auto;
      padding: 0;
      display: flex;
      .scroll-nav-list:first-child:nth-last-child(2),
      .scroll-nav-list:first-child:nth-last-child(2) ~ .scroll-nav-list {
        width: 50%;
      }
      li {
        white-space: nowrap;
        text-align: center;
        a {
          display: inline-block;
          width: 150px;
        }
      }
    }
  }
}

@media screen and (min-width: 400px) {
  .scroll-nav-list:first-child:nth-last-child(3),
  .scroll-nav-list:first-child:nth-last-child(3) ~ .scroll-nav-list {
    width: 33%;
  }
  .scroll-nav-list:first-child:nth-last-child(2),
  .scroll-nav-list:first-child:nth-last-child(2) ~ .scroll-nav-list {
    width: 50%;
  }
}

.shop_index_frame_wrap {
  border-bottom: 1px solid #e6e6e6;
  .shop_index_frame {
    padding-bottom: 30px;
    li {
      margin-top: 50px;
    }
    img {
      width: 100%;
      height: 50vw;
      object-fit: cover;
    }
    ol.shops {
      margin: 0;
      padding: 0 30px;
      .fa-clock {
        margin-left: 10px;
      }
    }
    .shop_name {
      color: #000;
      font-weight: bold;
    }
    .manipulate_shop a {
      color: #0066cb;
    }
  }
}

@media screen and (min-width: 768px) {
  .shop_index_frame {
    img {
      height: 20vw !important;
    }
  }
}

/* profile edit page */
.profile_edit_frame {
  @include form_frame;
}

/* Users index */
.users {
  padding: 0;
  .default_avater {
    width: 50px;
    height: 50px;
  }
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid #777;
  }
}

/* password reset page */
.password_reset_frame {
  @include form_frame;
}

/* shop page */
/* post shop new page */
.post_shop_frame {
  @include form_frame();
  .btn {
    margin-top: 20px;
  }
}

.wavy_line {
  text-align: center;
  height: 74px;
  line-height: 74px;
}

/* shop show page */
.shop_frame {
  max-width: 700px;
  margin: 0 auto;
  background: #f5f5f5;
  #bookmark_form {
    text-align: right;
    .bookmark_btn {
      margin-top: 10px;
      background: none;
      border-style: none;
      .bm {
        font-size: 30px;
      }
    }
  }
  .slider {
    img {
      width: 100%;
      height: 315px;
      object-fit: cover;
    }
    .slick-next, .slick-prev {
      display: none !important;
    }
  }
  .shop_name {
    color: #000;
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 10px;
    text-align: left;
  }
  span {
    margin-right: 5px;
  }
  .poster_link {
    margin-top: 5px;
    font-size: 12px;
  }
  .fa-map-marker-alt {
    margin-right: 5px;
  }
  .fa-clock {
    margin-right: 5px;
  }
  p {
    font-size: 17px;
    margin-top: 25px;
    text-decoration: underline;
  }
  .description {
    margin-top: 5px;
    margin-bottom: 15px;
  }
  table {
    width: 100%;
    margin-top: 30px;
    td, th {
      padding: 8px;
    }
    #map {
      width: 100%;
      height: 40vw;
    }    
  }
}

/* review */
/* review area */
@media screen and (max-width: 768px) {
  .review_area {
    margin-top: 50px;
    border-top: 1px solid #e6e6e6;
    padding-top: 30px;
  }
}

/* review form */
.rating_box {
  padding: 10px 0 30px;
  border-bottom: 1px solid #e6e6e6;
  .main_rating {
    display: flex;
    .ratings {
      .far, .fas {
        font-size: 15px;
        color: #ffa500;
        cursor: pointer;
      }
    }
    .rating_value_display {
      font-size: 16px;
      margin-left: 10px;
    }
  }
  textarea {
    width: 100%;
    height: 150px;
  }
}

/* reviewer index */
.reviews_frame {
  padding: 30px 0;
  .reviews {
    padding: 0;
    .review_box {
      padding: 20px 0;
      border-bottom: 1px solid #e6e6e6;
      .reviewer_info {
        .reviewer_avater, .default_reviewer_avater {
          border-radius: 50%;
          width: 25px;
          height: 25px;
        }
      }
      .reviewer_score_wrap {
        display: flex;
        .reviewer_score {
          position: relative;
          width: 5em;
          height: 1em;
          margin-left: 32px;
          .score_front {
            position: absolute;
            top: 0;
            left: 0;
            overflow: hidden;
            color: #ffa500;
          }
          .score_back {
            color: #ccc;
          }
        }
        .score_timestamp {
          margin-top: 3px;
          margin-left: 10px;
          font-size: 12px;
          color: #777;
        }
      }
      .review_content {
        margin-top: 10px;
        margin-left: 32px;
      }
    }
  }
}

/* review score */
.avg_score_wrap {
  display: flex;
  margin-top: 5px;
  .avg_score_value {
    color: #777;
    margin-right: 5px;
  }
  .avg_score {
    position: relative;
    width: 5em;
    height: 1em;
    .avg_score_front {
      position: absolute;
      top: 0;
      left: 0;
      overflow: hidden;
      color: #ffa500;
    }
    .avg_score_back {
      color: #ccc;
    }
  }
  .review_count {
    color: #777;
    margin-left: 5px;
  }
}

/* explanation app */
.explanation_wrap {
  .main_title {
    border-bottom: 1px solid #000;
    padding-bottom: 10px;
  }
  h4 {
    padding: 30px 0;
  }
}

/* paginate */
.paginate_center {
  text-align: center;
}
